# Python 2.7 compatible environment for OzFlux-footprint
# Use with:
#   python2.7 -m pip install --upgrade "pip==20.3.4" "setuptools==44.1.1" "wheel<0.38"
#   python2.7 -m pip install -r requirements-py27.txt
# System dependency (not pip): python-tk

setuptools==44.1.1
numpy==1.16.6
scipy==1.2.3
matplotlib==2.2.5
pandas==0.24.2
xlrd==1.2.0
xlwt==1.3.0
xlsxwriter==1.4.5
netCDF4==1.5.5.1
cftime==1.2.1
configobj==5.0.6
configparser==4.0.2
Pillow==6.2.2
names==0.3.0
python-dateutil==2.8.2
pytz==2023.3
